
<div>
  {{#each newCart}}
    <li>
      <p><span style="color: rgb(255, 0, 0);">{{this.title}}</span></p>
      <p><span style="color: rgb(255, 0, 0);">Descripción: </span>{{this.description}}</p>
      <p>
        <span style="color: rgb(255, 0, 0);">Precio: </span>{{this.price}} 
      </p>
    
    </li>
  {{/each}}
</div>
