<div>
  <h1>Login</h1>

  <form id="cookieForm" action="/api/session/login" method="POST">
    <label>Email</label>
    <input name="email" />
    <br />
    <label>pass</label>

    <input name="password" />
    <input type="submit" />
  </form>
<p>Si no tienes una cuenta todavía, te invito a registrarte de manera gratuita</p>
<a href="/views/register"><button>Registrate</button></a>

<a href="/views/passRestore"><button>Restaurar contraseña</button></a>



</div>

